extends ../_layout

append meta
  title 004

append body
  h1 004
  p Different drawing positions of canvas in svg for chrome and safari.

  svg(width=400, height=200, style='background-color:grey')
    g(transform='translate(100 50)')
      foreignObject(x=0, y=0, width=200, height=100)
        canvas(width=200, height=100)

  script.
    var canvas = document.querySelector('canvas')
    var ctx = canvas.getContext('2d')
    ctx.fillStyle = 'rgba(0,0,255,0.5)'
    ctx.fillRect(0, 0, canvas.width, canvas.height)
