append styles
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css', integrity='sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=', crossorigin='anonymous')
